apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: kubevirt
  labels:
    control-plane: ssp-operator
    name: ssp-operator
spec:
  selector:
    matchLabels:
      control-plane: ssp-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: ssp-operator
        name: ssp-operator
        prometheus.ssp.kubevirt.io: "true"
    spec:
      serviceAccountName: ssp-operator
      priorityClassName: system-cluster-critical
      securityContext:
        runAsNonRoot: true
        seccompProfile:
            type: RuntimeDefault
      containers:
      - command:
        - /manager
        args: ["--leader-elect"]
        env:
          - name: VALIDATOR_IMAGE
            value: "$VALIDATOR_IMG"
          - name: VIRTIO_IMG
          - name: OPERATOR_VERSION
          - name: TEKTON_TASKS_IMAGE
          - name: TEKTON_TASKS_DISK_VIRT_IMAGE
        image: controller:latest
        name: manager
        resources:
          requests:
            memory: "150Mi"
            cpu: "200m"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        ports:
          - name: metrics
            protocol: TCP
            containerPort: 8443
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
      terminationGracePeriodSeconds: 10
