name: Test csv-generator

on:
  push: {}
  pull_request: {}

jobs:
  validate_metrics_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Install Golang 1.20
        uses: actions/setup-go@v2
        with:
          go-version: '1.20'
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Generate metrics docs
        run: make generate-doc
      - name: Validate no changes
        run: git diff --exit-code

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Golang 1.20
      uses: actions/setup-go@v2
      with:
        go-version: '1.20'

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build and Test csv-generator
      run: make container-build && ./tests/e2e-test-csv-generator.sh

  check_commited_files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check commited files
      run: hack/check-commited-changes.sh
