name: validate-no-offensive-lang

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: validate-no-offensive-lang
      run: hack/validate-no-offensive-lang.sh
